body{
    padding: 5px;
    font: message-box;
}

#fullscreen-info{
    display: none;
}

@media screen and (min-width: 1024px){
    body{
        border: 1px solid gray;
        border-radius: 5px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    #fullscreen-info{
        display: initial;
        text-align: justify;
    }
}

label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    width: auto;
    display: inline-block;
    min-width: 150px;
}

small{
    display: block;
}

.saved-success::after{
    content: "✔";
}

.saved-error::after{
    content: "❌";
}